<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <%= image_tag current_user.decorate.avatar, class: 'avatar-xl rounded-circle border border-4 border-white' %>
      <h1 class="fw-light"><%= @user.name %></h1>
      <p class="text-small"><%= link_to @user.followings.count, followings_user_path(@user) %> フォロー <%= link_to @user.followers.count, followers_user_path(@user) %> フォロワー</p>
      <% if @user == current_user %>
        <p class="lead text-muted">You're currently signed in as <%= current_user.email %></p>
      <% else %>
        <dl class="row">
          <dt class="col-sm-3">hobby:</dt>
          <dd class="col-sm-9"><%= @user.hobby %></dd>
          <dt class="col-sm-3">profile:</dt>
          <dd class="col-sm-9"><%= @user.profile %></dd>
        </dl>
        <% if @user.is_followed_by?(current_user) %>
          <%=link_to user_relationships_path(@user), method: :delete do %>
            <button type="button" class="btn btn btn-danger">フォローを外す</button>
          <% end %>
        <% else %>
          <%=link_to user_relationships_path(@user), method: :post do %>
            <button type="button" class="btn btn btn-primary">フォローする</button>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>